{% extends 'oscar/catalogue/detail.html' %}

{%load i18n %}
{%load display_tags %}
{%load purchase_info_tags %}

    {% block product_main %}
    <div class="col-sm-6 product_main">
        {% comment %}
            This is a bit clunky here.  Better to have some kind of JS-driven dashboard menu that
            pops out when clicked.  A bit like the Django-Debug-Toolbar button
        {% endcomment %}
        {% if user.is_staff %}
            <a class="float-right d-none d-md-block" href="{% url 'dashboard:catalogue-product' pk=product.id %}">
                <small><i class="fas fa-pencil-alt"></i> {% trans "Edit this product" %}</small>
            </a>
        {% endif %}
        <h5><b>(I modified this!)</b></h5>
        <h1>{{ product.get_title }}</h1>

        {% block product_stock_record %}
            {% include "oscar/catalogue/partials/stock_record.html" with verbose=1 %}
        {% endblock %}

        {% iffeature "reviews" %}
            {% include "oscar/catalogue/reviews/partials/review_stars.html" %}
        {% endiffeature %}

        <hr/>

        {% if not product.is_parent %}
            {% block product_basket_form %}
                {% include "oscar/catalogue/partials/add_to_basket_form.html" %}
            {% endblock %}
        {% else %}
            {% block variants %}
                <h2>{% trans 'Variants:' %}</h2>
                {% for child in product.children.public %}
                    {% purchase_info_for_product request child as child_session %}
                    {% if child_session.availability.is_available_to_buy %}
                        <a href="{{ child.get_absolute_url }}">{{ child.get_title }}</a><br>
                    {% endif %}
                {% endfor %}
            {% endblock %}
        {% endif %}
    </div><!-- /col-sm-6 -->
    {% endblock %}

    {% block product_description %}
        {% if product.description %}
        <div id="product_description" class="sub-header">
            <h2>{% trans "Product Description" %}</h2>
        </div>
        <p>{{ product.description|safe }}</p>
        {% endif %}

        <div>
            <h2>{{product.get_title}} Video</h2>
            <iframe src="{{ product.video_url }}" title="{{ product.get_title }}"></iframe>
        </div>
    {% endblock %}